/* переменные для замены цвета подсветки в будущем */
:root {
  --accent-color: #404bbf;
  --primary-font: "Roboto";
  --secondary-font: "Raleway", sans-serif;
}

/* _____________ предок - шрифт 
Будет наследование остальными элементами этого шрифта,
 кроме указанного другого---------------- */

body {
  font-family: var(--primary-font);
}

/* --------------- COMPONENTS ---------------- */

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------------- /COMPONENTS ---------------- */

/* ----------HEADER---------------------- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo-web {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* Colorizing from me))) */
.menu-link:hover,
.menu-link:focus,
.contact-phone:hover,
.contact-phone:focus,
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ---------- /HEADER---------------------- */

/* --------------- HERO -------------------- */

.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn-order {
  padding: 16px 32px;
  margin: 0 auto;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {
  background-color: var(--accent-color);
}
/* --------------- /HERO -------------------- */

/* ----------------- Footer --------------- */

.page-footer {
  background-color: #2e2f42;
}
.logo-web-footer {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio-footer {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/* ----------------- /Footer --------------- */
